.corrector-wrapper{
    position:relative;
    display:inline-block;
    width:100%;
}

.corrector-overlay{

    position:absolute;
    inset:0;
    z-index: 2; 

    pointer-events:none;

    color:transparent;

    white-space:pre-wrap;
    overflow-wrap:break-word;
    overflow:hidden;
}

.corrector-wrapper textarea{

    position:relative;

    background:transparent;

}

.corrector-underline {

    position: absolute;

    height: 2px;

    background: red;

    border-radius: 2px;

    pointer-events: none;

}